body {
  background-color: #F5F6F8;
}

body {
  background-color: #efefef;
  font-size: 16px;
  color: #333;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0 0 10px 0;
  padding: 0;
}




/* Header */

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
  height: auto;
  margin-left: 5px;
}

.logo-img {
  width: 100%;
}

.header-navigation {
  margin-right: 5px;
  display: flex;
}

.header-navigation li {
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

.header-navigation li a {
  color: #333;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}




/* Content */

.container {
  width: 870px;
  height: auto;
  margin: 40px auto;
}

.text-title {
  font-weight: 700;
  font-size: 36px;
}

.card-contents {
  padding: 22px 32px;
  display: block;
  margin: 30px 0;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.card-title {
  font-weight: 700;
  font-size: 22px;
}




.information-list {
  list-style-type: none;
  padding-left: 0;
}

.information-list li {
  margin-bottom: 10px;
}




.user-items {
  margin-top: 32px;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-items .item {
  text-align: center;
}

.user-items .item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user-items .item .username {
  color: #818181;
  margin: 10px auto;
}

.user-items .item .button {
  background-color: #088F8F;
  cursor: pointer;
  color: white;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 120px;
  border: none;
}

.user-items .item .button:hover{
  background-color: #066F8F;
}


/* Footer */
footer {
  background-color: #818181;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.copyright {
  font-size: 12px;
  color: #ffffff;
}